*{
    font-size: 18px;
}
body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1, h2, h3{
    font-weight: 900;
}
h4, h5, h6{
    font-weight: 700;
}
.btn-outline-secondary{
    background: transparent !important;
    border-color: #051129;
    color: #051129;
    position: relative;
}

.btn-outline-secondary:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(196, 230, 255);
    z-index: -1;
    transition: 0.5s;
}
.btn-outline-secondary:hover:before{
    width: 100%;
}
.btn-secondary{
    background: #051129 !important;
    border-color: #051129 !important;
}
.btn-primary{
    background-color: rgb(196, 230, 255) !important;
    border-color: rgb(196, 230, 255) !important;
    color: #051129 !important;
}
.btn-primary:hover{
    color: rgb(196, 230, 255) !important;
    border-color: rgb(196, 230, 255) !important;
    background: #051129 !important;
}

.call-to-action, footer{
    background: #051129;
    color: #f1f1f1;
    overflow-x: hidden;
}
footer a.nav-link{
    color: #f1f1f1;
}
.navbar{
    background: #fff;
}
.nav-link, .navbar-brand{
color: #051129;
}
.nav-link:hover, .nav-brand:hover{
    color: rgb(196, 230, 255);
}
.navbar-brand{
    font-size: 1.8em !important;
    color: #051129;
}
.heading-line{
    height: 3px;
    width: 10%;
    background: rgb(196, 230, 255);
}
.services i{
    font-size: 2rem;
    color: rgb(196, 230, 255);
}
.dark{
    background: #051129;
    color: rgb(196, 230, 255);
    height: 300px;
}
.dark i{
    font-size: 1.4rem;
    color: rgb(196, 230, 255);
    
}
.portfolio .img-fluid{
    height: 300px;
    object-fit: cover;
}
.portfolio .col-lg-3{
    position: relative;
}
.filter{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(196, 230, 255, 0.8);
}
.copyright a{
    background: #051129;
    color: rgb(196, 230, 255);
}
iframe{
        width: 100%;
        height: 470px;
    }

@media(max-width:900px){
    .navbar .nav-item{
        width: 100%;
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    .call-to-action .container{
        width: 100% !important;
    }
    
}